.banner_img_mobile {
  display: none;
}

.banner_img_img {
  width: 100%; 
}

@media screen and (max-width: 560px) {
  /* .banner_img_mobile{
        display: block;
        
    } */

  .banner_img {
    display: none;
  }
}
